.ui.container.reports{
    padding: 0px 15px 15px;
}

.ui.segment.report-segment{
    background-color: #f9fafb;
}

.report-table{
    overflow-x: auto;
    overflow-y: auto; 
}

.cell-day-off{
    background-color: #faeded;
    font-size: 12px;
}

.cell{
    font-size: 12px;
}

.ui.table.monthly-report{
    width: 1700px;
    font-size: 12px;
}

.ui.dropdown.dropdown-year{
    width: 200px;
}

.ui.dropdown.dropdown-month{
    width: 200px;
}

.ui.dropdown.dropdown-userlist{
    width: 200px;
}

@media (min-width: 600px) and (max-width: 1199px){

    .ui.container.reports{
        width: 60%;
        margin-left: 40% !important;
    } 
}