.hours{
    padding: 15px 15px 15px;
    float: left;
   
}

.tableHeader{
    background-color: grey;
}

.ui.button.saveButton{
    margin-left: 120px;
    margin-top: 40px ;
}

/*.edit-form-buttons-container{
    text-align: right;
} 


.ui.modal.hour-edit-modal>.header{
    color: #00b5ad; 
}

.ui.modal.hour-edit-modal{
    margin: auto; 
    width: 50%; 
    height: 400px;
    
} */

.ui.button.cancelButton{
    color: rgba(0,0,0,.8);
    background-color:#e0e1e2;
}

.ui.button.cancelButton:hover{
    color: rgba(0,0,0,.8);
    background-color:#cacbcd;
}

.ui.dropdown.dropdown-hour-types{
    width: max-content;
}

#waiting-left{ 
    margin-left: 0em !important;
    width: 140px !important;
}

