.hours{
    padding: 15px 15px 15px;
    float: left;
   
}

.tableHeader{
    background-color: grey;
}

.ui.button.saveButton{
    color: #fff;
    background-color: #00b5ad;
    margin-left: 140px;
    margin-top: 40px ;
}

.ui.button.saveButton:hover{
    color: #fff;
    background-color:#009c95;
}

/*.edit-form-buttons-container{
    text-align: right;
} 


.ui.modal.hour-edit-modal>.header{
    color: #00b5ad; 
}

.ui.modal.hour-edit-modal{
    margin: auto; 
    width: 50%; 
    height: 400px;
    
} */

.ui.button.cancelButton{
    color: #fff;
    background-color:#ff3333;
    margin-left: 140px;
    margin-top: 40px;
}

.ui.button.cancelButton:hover{
    color: #fff;
    background-color:#ff0000;
}

.ui.button.filterButton{
    color: #fff;
    background-color:#00b5ad;
}

.ui.button.filterButton:hover{
    color: #fff;
    background-color:#009c95;
}

.ui.dropdown.dropdown-hour-types{
    width: max-content;
}

#waiting-left{ 
    margin-left: 0em !important;
    width: 140px !important;
}

