.ui.button.tableButton{
    background: transparent ;
}


i.icon.tableIcon{
    color: #00b5ad;
}

.width5{
    width: 5%;
}

.width10{
    width: 10%;
}

.width15{
    width: 15%;
}

.width20{
    width: 20%;
}
